<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Values Count</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</head>

<body>
    <div class="form-container">
        <h1>Values Count</h1>
        <form onsubmit="return callAPI(event);">
            <label for="values">Enter a value:</label>
            <input type="text" name="values" id="values" required>
            <button type="submit">Count</button>
        </form>
    </div>

    <div class="result hidden" id="result">
        <p id="value-count"></p>
    </div>
</body>

</html>